 .nav-item{
    text-decoration: none;
    margin-right: 20px;
    color: white;
    font-family: 20px;
    font-weight: 600;
}

.nav-book{
    border: 1px solid lightgray;
    padding: 3px 8px;
    border-radius: 5px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: lightskyblue;
}
